@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Lato');
@import 'variables';



body {
  background-color: $background;
  font-family: 'Lato', sans-serif;
}

#main h1 {
  color: $text;
}

#main {
  text-align: center;
}
