@import 'node_modules/normalize-scss/sass/normalize';
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
@import 'variables';

@mixin list-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

@mixin button-input-style {
  margin: 10px;
  padding: 10px 20px;
  border: 0;
  border-radius: 10px;
  outline: 0;
  font-size: 12px;
}

.title {
  font-size: 4em;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
}

.title-film {
  font-weight: 700;
}

body {
  background-color: $background;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

h1 {
  margin: 20px;
  color: $text;
  font-size: 3em;
}

.input-text {
  @include button-input-style;
  display: block;
}

.movie-list {
  @include list-flex;
}

.movie-item {
  width: 250px;
  margin: 20px;
  padding: 10px;
  transition: .1s ease-in-out;
  background: $card-bg-color;
  box-shadow: 7px 7px 7px #888888;

  &:hover {
    transform: scale(1.02);
  }
}

.list-poster {
  width: 200px * 1.02;
  height: 300px * 1.02;
}

.btn {
  @include button-input-style;
  background: $btn-bg-color;
  color: $btn-text-color;
  text-align: center;

  &:hover {
    background: $btn-hover-bg-color;
    color: $btn-hover-text-color;
    cursor: pointer;
  }

  &:active {
    background: $btn-bg-color;
    color: $accent1;
  }


  &[disabled] {
    background: $btn-disabled-bg-color;
    color: $btn-disabled-text-color;
  }
}

.btn-favorite {
  display: block;
  margin: 0 auto;
}

.btn-login {
  display: inline-block;
  background: $btn-login-bg-color;
}

.login-form {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  margin: 0 auto;
}

.btn-signup,
.btn-login {
  width: 105px;
}

.btn-more {
  margin: 40px;
  padding: 20px;
  font-size: 1.2em;
}

.status {
  color: $accent1;
  font-size: .9em;
  font-weight: bolder;
}

.fav-status-true {
  background-color: $btn-login-bg-color;

  &:hover {
    background-color: #558B2F;
  }
}

.movie-desc {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.movie-text-data {
  height: 50vh;
  margin: 12px;
  background-color: $background;
  filter: opacity(70%);

  p {
    filter: opacity(100%);
  }
  @media (max-width: 600px) {
    height: auto;
  }
}

.movie-title {
  min-height: 40px;
}

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  overflow: hidden;
  z-index: -999;
  filter: opacity(25%);

  .movie-desc-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-width: 50%;
    min-height: 50%;
    margin: auto;
  }
}

.movie-desc-title {
  max-width: 600px;
  margin: 20px 20px;
  font-size: 3em;
  @media (max-width: 600px) {
    font-size: 2em;
  }
}

.movie-desc-vote-avg {
  margin: 10px;
  font-size: 2em;
  font-weight: lighter;
}

.movie-desc-overview {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
}

.movie-desc-poster {
  width: auto;
  height: 50vh;
  margin: 12px;
}
