$accent1: #e85a71;
$background: #d8e9ef;
$accent2: #4ea1d3;
$text: #454552;
$card-bg-color: #fafafa;

$btn-bg-color: #454552;
$btn-hover-bg-color: $accent1;
$btn-disabled-bg-color: #616161;
$btn-disabled-text-color: #bdbdbd;
$btn-text-color: #fafafa;
$btn-hover-text-color: #fafafa;
$btn-login-bg-color: #8BC34A;
